<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="9">
    <metadata key="name" value="output"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="652274"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Land"/>
      <metadata key="matrix" value="1 0 0 -5.0663948059082031e-07 0 1 0 0 0 0 1 -0.41817021369934082 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="49.828765869140625"/>
      <metadata key="source_offset_y" value="49.828765869140625"/>
      <metadata key="source_offset_z" value="2.6701169013977051"/>
      <metadata key="extruder" value="3"/>
      <mesh_stat face_count="86002" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Parks"/>
      <metadata key="matrix" value="1 0 0 -5.0663948059082031e-07 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="1"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="49.828765869140625"/>
      <metadata key="source_offset_y" value="49.828765869140625"/>
      <metadata key="source_offset_z" value="3.0882871150970459"/>
      <metadata key="extruder" value="7"/>
      <mesh_stat face_count="283496" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="Urban Areas"/>
      <metadata key="matrix" value="1 0 0 0.50123646855354309 0 1 0 0 0 0 1 -1.5781401395797729 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="50.330002844333649"/>
      <metadata key="source_offset_y" value="49.828765869140625"/>
      <metadata key="source_offset_z" value="1.5101469755172729"/>
      <metadata key="extruder" value="5"/>
      <mesh_stat face_count="17162" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="Greenspaces"/>
      <metadata key="matrix" value="1 0 0 2.5061821639537811 0 1 0 0 0 0 1 -1.9026895761489868 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="3"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="52.334948539733887"/>
      <metadata key="source_offset_y" value="49.828765869140625"/>
      <metadata key="source_offset_z" value="1.1855975389480591"/>
      <metadata key="extruder" value="4"/>
      <mesh_stat face_count="2794" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="Woods"/>
      <metadata key="matrix" value="1 0 0 -5.0663948059082031e-07 0 1 0 0 0 0 1 -1.0219171047210693 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="4"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="49.828765869140625"/>
      <metadata key="source_offset_y" value="49.828765869140625"/>
      <metadata key="source_offset_z" value="2.0663700103759766"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="166660" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="Water"/>
      <metadata key="matrix" value="1 0 0 -5.0663948059082031e-07 0 1 0 -4.7041130065917969 0 0 1 -0.84303712844848633 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="5"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="49.828765869140625"/>
      <metadata key="source_offset_y" value="45.124652862548828"/>
      <metadata key="source_offset_z" value="2.2452499866485596"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="47832" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="Shore"/>
      <metadata key="matrix" value="1 0 0 -29.145357638597488 0 1 0 -25.167129516601562 0 0 1 -2.5566661357879639 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="20.683408737182617"/>
      <metadata key="source_offset_y" value="24.661636352539062"/>
      <metadata key="source_offset_z" value="0.53162097930908203"/>
      <metadata key="extruder" value="6"/>
      <mesh_stat face_count="39568" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="Line"/>
      <metadata key="matrix" value="1 0 0 0.13484594225883484 0 1 0 0.13484764099121094 0 0 1 -1.287288635969162 0 0 0 1"/>
      <metadata key="source_file" value="output.3mf"/>
      <metadata key="source_object_id" value="7"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="49.96361231803894"/>
      <metadata key="source_offset_y" value="49.963613510131836"/>
      <metadata key="source_offset_z" value="1.8009984791278839"/>
      <metadata key="extruder" value="8"/>
      <mesh_stat face_count="8760" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value=""/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="9"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="473"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="9" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 3.0882871150970459" offset="0 0 0" />
  </assemble>
</config>
